In [2]:
import pandas as pd
import re
import statistics
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LogisticRegressionCV
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import log_loss
from sklearn.feature_selection import chi2
from sklearn.metrics import r2_score
import numpy as np
from sklearn.model_selection import train_test_split

In [3]:
%run ../functions.ipynb

### Import data

In [6]:
data_path = '../../data/MDataFiles_Stage1/'

#raw data
rankings = pd.read_csv(data_path + 'MMasseyOrdinals.csv')
detailed_reg_season = pd.read_csv(data_path +'MRegularSeasonDetailedResults.csv')
team_coaches = pd.read_csv(data_path + 'MTeamCoaches.csv')
detailed_tourney_results = pd.read_csv(data_path + 'MNCAATourneyDetailedResults.csv')
conf_tourney = pd.read_csv(data_path + 'MConferenceTourneyGames.csv')
team_conferences = pd.read_csv(data_path + 'MTeamConferences.csv')
tourney_seeds = pd.read_csv(data_path + 'MNCAATourneySeeds.csv')
teams = pd.read_csv(data_path + 'MTeams.csv')

#processed data
all_games = pd.read_csv('../processing/output/all_games.csv')

#sample submission
sub = pd.read_csv('../../data/MSampleSubmissionStage1_2020.csv')
#sub = process_sample_sub(test)

### Get conf features

In [7]:
team_conferences['conf'] = np.where(team_conferences['ConfAbbrev'].isin(['acc', 'aac', 'sec','big_twelve', \
                        'pac_twelve', 'big_east', 'pac_ten', 'big_ten']), team_conferences['ConfAbbrev'], 
                                        'other')

team_conferences.rename(columns = {'TeamID': 'Team1'}, inplace = True)

In [8]:
tourney_games = all_games[(all_games.TourneyGame == 1)]

In [9]:
conf_me = tourney_games.merge(team_conferences, on = ['Team1', 'Season'])

In [10]:
conf_me = conf_me.groupby(['Season', 'conf']).agg({'Outcome': np.mean}).sort_values(by = 'Outcome', ascending = False). \
                            reset_index()

In [11]:
conf_me.sort_values(by = 'Season', inplace = True)

In [12]:
pd.set_option('max_rows', 10000)

In [13]:
conf_me['prior_conf_win_rate'] = conf_me.groupby(['conf'])['Outcome'].apply(lambda x: x.rolling(7).mean().shift())

In [14]:
conf_me[['Outcome', 'prior_conf_win_rate']].corr()

                      Outcome  prior_conf_win_rate
Outcome              1.000000             0.623148
prior_conf_win_rate  0.623148             1.000000

### Get conf tourney

In [15]:
wins = conf_tourney.groupby(['Season', 'WTeamID'])['LTeamID'].count().reset_index()

wins.rename(columns = {'WTeamID': 'Team1',
                           'LTeamID': 'num_wins'}, inplace = True)

losses = conf_tourney.groupby(['Season', 'LTeamID'])['WTeamID'].count().reset_index()

losses.rename(columns = {'LTeamID': 'Team1',
                           'WTeamID': 'num_losses'}, inplace = True)

ct = wins.merge(losses, on = ['Season', 'Team1'], how = 'outer')

ct = ct.fillna(0)

ct['ct_win_rate'] = ct['num_wins'] / (ct['num_wins'] + ct['num_losses'])

### Get Seeds

In [16]:
tourney_seeds.rename(columns = {'TeamID': 'Team1'}, inplace = True)
tourney_seeds['Seed'] = tourney_seeds['Seed'].apply(lambda x: re.sub('[^0-9]','', x)).apply(int)

#join_key = ['Season', 'Team1']
#all_games = all_games.merge(tourney_seeds[join_key + ['Seed']], on = join_key, how = 'left')
#all_games['Seed'] = all_games['Seed'].fillna('9999').apply(lambda x: re.sub('[^0-9]','', x)).apply(int)

### Get Pre-Season Rankings

In [17]:
rankings.sort_values(by = ['RankingDayNum', 'OrdinalRank'], inplace = True)

In [18]:
ap_rankings = rankings[(rankings.SystemName == 'AP')]
first_day = ap_rankings.groupby('Season').agg({'RankingDayNum':'min'}).rename(
                            columns = {'RankingDayNum': 'first_day'})

ap_rankings = ap_rankings.join(first_day, on = 'Season')
ap_rankings = ap_rankings[ap_rankings.RankingDayNum == ap_rankings.first_day]
ap_rankings.rename(columns = {'TeamID':'Team1'}, inplace = True)
ap_rankings['pre_season_top_25_flag'] = 1

### Get end of season rankings

In [19]:
all_rankings = list(rankings.SystemName.unique())

In [20]:

''' 
feature_list = ['t1_final_rank', 't2_final_rank']

from tqdm import tqdm
system_rank = {}

for system in tqdm(rankings.SystemName.unique()):
    
    end_rankings = get_rankings(rankings, [system])
    system_rank[system] = full_pipeline(feature_list)
    
'''

" \nfeature_list = ['t1_final_rank', 't2_final_rank']\n\nfrom tqdm import tqdm\nsystem_rank = {}\n\nfor system in tqdm(rankings.SystemName.unique()):\n    \n    end_rankings = get_rankings(rankings, [system])\n    system_rank[system] = full_pipeline(feature_list)\n    \n"

In [21]:

'''
df = pd.DataFrame.from_dict(system_rank, orient = 'index')
df.columns = ['score']
df = df.sort_values(by = 'score').reset_index()
df.columns = ['system', 'score']
'''

"\ndf = pd.DataFrame.from_dict(system_rank, orient = 'index')\ndf.columns = ['score']\ndf = df.sort_values(by = 'score').reset_index()\ndf.columns = ['system', 'score']\n"

In [22]:
def get_rankings(rankings, system):
    
    end_rankings = rankings[(rankings.RankingDayNum == 133) & (rankings.SystemName.isin(system))]

    end_rankings = end_rankings.groupby(['TeamID', 'Season']).agg({'OrdinalRank':np.mean})
    end_rankings.reset_index(inplace = True)
    end_rankings.columns = ['Team1', 'Season', 'avg_rank']
    end_rankings['final_rank'] = 100-4*np.log(end_rankings['avg_rank']+1)-end_rankings['avg_rank']/22
    
    return end_rankings

In [23]:
end_rankings = get_rankings(rankings, ['WLK'])

In [24]:
#end_rankings = rankings[(rankings.RankingDayNum == 133)]
#end_rankings = end_rankings.groupby(['TeamID', 'Season']).agg({'OrdinalRank':np.mean})
#end_rankings.reset_index(inplace = True)
#end_rankings.columns = ['Team1', 'Season', 'avg_rank']
#end_rankings['final_rank'] = 100-4*np.log(end_rankings['avg_rank']+1)-end_rankings['avg_rank']/22

### Field goal efficiency

In [25]:
all_games.columns

Index(['Unnamed: 0', 'TourneyGame', 'Season', 'DayNum', 'Team1', 'Team2',
       'Team1_score', 'Team2_score', 'WLoc', 'NumOT', 'Team1_FGM', 'Team1_FGA',
       'Team1_FGM3', 'Team1_FGA3', 'Team1_FTM', 'Team1_FTA', 'Team1_OR',
       'Team1_DR', 'Team1_Ast', 'Team1_TO', 'Team1_Stl', 'Team1_Blk',
       'Team1_PF', 'Team2_FGM', 'Team2_FGA', 'Team2_FGM3', 'Team2_FGA3',
       'Team2_FTM', 'Team2_FTA', 'Team2_OR', 'Team2_DR', 'Team2_Ast',
       'Team2_TO', 'Team2_Stl', 'Team2_Blk', 'Team2_PF', 'Outcome', 'Loc'],
      dtype='object')

In [26]:
all_games['fg_eff'] = all_games['Team1_FGM3']/all_games['Team1_FGA3']
fg_eff = all_games.groupby(['Team1', 'Season']).agg(mean_fg_eff=('fg_eff', np.mean), 
                                          std_fg_eff=('fg_eff', np.std), 
                                          ).reset_index()

### 14 day feature

In [27]:
reg_season_games = all_games[all_games.TourneyGame == 0]

In [28]:
recent = reg_season_games[all_games.DayNum > 0]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [29]:
recent = recent.groupby(['Team1', 'Season']).agg(
                                          total_wins=('Outcome', sum), 
                                          total_games=('Outcome', 'count'), 
                                          ).reset_index()

In [30]:
recent['WinRatio14d'] = recent['total_wins'] / recent['total_games']

### Get efficiency metrics

In [31]:
all_games = get_def_off(all_games)

In [32]:
all_games.head()

,Unnamed: 0,TourneyGame,Season,DayNum,Team1,Team2,Team1_score,Team2_score,WLoc,NumOT,...,Team2_TO,Team2_Stl,Team2_Blk,Team2_PF,Outcome,Loc,fg_eff,Pos,OffRtg,DefRtg
0,0,1,2003,134,1421,1411,92,84,N,1,...,15,5,0,22,1,N,0.379310,75.3024,122.174061,111.550229
1,1,1,2003,136,1112,1436,80,51,N,0,...,17,10,3,15,1,N,0.304348,74.0736,108.000691,68.850441
2,2,1,2003,136,1113,1272,84,71,N,0,...,12,2,5,18,1,N,0.428571,64.9728,129.284870,109.276497
3,3,1,2003,136,1141,1166,79,73,N,0,...,21,6,6,21,1,N,0.428571,68.1600,115.903756,107.100939
4,4,1,2003,136,1143,1301,76,74,N,1,...,14,5,8,19,1,N,0.350000,66.3552,114.535108,111.521026

In [33]:
all_games['OffRtg'] = np.where(all_games['Loc'] == 'H', all_games['OffRtg'] * (1 - 0),
         np.where(all_games['Loc'] == 'A', all_games['OffRtg'] * (1 + 0),
                  all_games['OffRtg']))
         
         
all_games['DefRtg'] = np.where(all_games['Loc'] == 'H', all_games['DefRtg'] * (1 + 0),
         np.where(all_games['Loc'] == 'A', all_games['DefRtg'] * (1 - 0),
                  all_games['DefRtg']))

In [34]:
all_games.sort_values(by = ['Season', 'Team1', 'DayNum'], inplace = True)
all_games.reset_index(drop=True, inplace = True)

In [35]:
all_games.head()

,Unnamed: 0,TourneyGame,Season,DayNum,Team1,Team2,Team1_score,Team2_score,WLoc,NumOT,...,Team2_TO,Team2_Stl,Team2_Blk,Team2_PF,Outcome,Loc,fg_eff,Pos,OffRtg,DefRtg
0,133,0,2003,19,1102,1257,47,65,H,0,...,14,8,4,23,0,A,0.285714,58.5984,80.206968,110.924530
1,246,0,2003,22,1102,1391,72,43,H,0,...,11,5,0,12,1,H,0.535714,50.9568,141.296157,84.385205
2,339,0,2003,25,1102,1117,57,52,A,0,...,8,3,0,19,1,A,0.350000,50.5728,112.708808,102.822070
3,473,0,2003,27,1102,1399,47,60,H,0,...,14,4,1,13,0,A,0.526316,49.2288,95.472569,121.879875
4,612,0,2003,31,1102,1410,65,44,H,0,...,13,3,0,13,1,H,0.545455,43.2768,150.195948,101.671103

In [41]:
all_games['GameEfficiency'] = all_games['OffRtg'] - all_games['DefRtg']

In [43]:
all_games = all_games[['Season', 'DayNum','Team1', 'Team2', 'GameEfficiency', 'Outcome']]

In [46]:
all_games.iloc[26:,:].head(5)

    Season  DayNum  Team1  Team2  GameEfficiency  Outcome
26    2003     124   1102   1307       14.230419        1
27    2003     129   1102   1428       -8.608815        0
28    2003      19   1103   1460       -4.609145        0
29    2003      26   1103   1324        5.597349        1
30    2003      30   1103   1156       -4.655840        0

In [44]:
all_games.to_csv('sample_basketball_data.csv')

In [36]:
pd.set_option('max_rows', 1000)


all_games['test'] = all_games.groupby(['Season', 'Team1'])['OffRtg'].shift(1).expanding().mean()

all_games[['Team1', 'test']].head(100)

    Team1        test
0    1102         NaN
1    1102   80.206968
2    1102  110.751562
3    1102  111.403978
4    1102  107.421125
5    1102  115.976090
6    1102  118.953602
7    1102  124.515169
8    1102  118.815041
9    1102  117.729593
10   1102  116.908737
11   1102  119.248303
12   1102  118.072860
13   1102  116.642412
14   1102  115.726568
15   1102  115.106497
16   1102  113.596038
17   1102  114.135144
18   1102  111.806709
19   1102  109.020109
20   1102  109.315021
21   1102  110.514085
22   1102  110.849859
23   1102  110.426568
24   1102  111.060117
25   1102  109.887177
26   1102  109.881439
27   1102  110.291703
28   1103  110.291703
29   1103  110.468021
30   1103  110.905044
31   1103  110.570760
32   1103  110.891343
33   1103  111.329667
34   1103  111.309065
35   1103  111.598595
36   1103  111.590726
37   1103  112.420360
38   1103  112.299397
39   1103  113.060928
40   1103  112.768573
41   1103  112.474767
42   1103  112.587926
43   1103  111.972736
44   1103  112.381903
45   1103  112.832432
46   1103  113.015086
47   1103  113.186053
48   1103  112.773897
49   1103  112.473930
50   1103  112.968722
51   1103  112.862823
52   1103  113.342307
53   1103  113.509225
54   1103  113.289844
55   1104  113.289844
56   1104  112.942722
57   1104  113.279967
58   1104  113.320470
59   1104  112.917935
60   1104  113.235125
61   1104  113.071390
62   1104  113.123051
63   1104  112.951830
64   1104  113.223777
65   1104  112.827309
66   1104  112.645289
67   1104  112.468916
68   1104  112.477129
69   1104  112.455441
70   1104  112.325480
71   1104  112.094502
72   1104  111.733231
73   1104  111.744132
74   1104  111.707288
75   1104  111.463411
76   1104  111.725140
77   1104  111.643957
78   1104  111.768695
79   1104  111.509537
80   1104  111.831765
81   1104  111.980443
82   1104  111.772790
83   1104  111.766479
84   1105  111.766479
85   1105  111.050937
86   1105  110.706303
87   1105  110.603818
88   1105  110.769434
89   1105  110.506556
90   1105  110.400715
91   1105  110.245733
92   1105  110.144832
93   1105  109.947392
94   1105  110.090779
95   1105  109.876890
96   1105  109.572054
97   1105  109.397453
98   1105  109.185213
99   1105  108.900749

In [58]:
type(all_games.groupby(['Season', 'Team1'])[['OffRtg']])

pandas.core.groupby.generic.DataFrameGroupBy

In [60]:
all_games['test'] =  all_games.groupby(['Season', 'Team1'])[['OffRtg']].transform(lambda x: x.shift(1).expanding().mean())

all_games[['Team1', 'test']].head(100)

    Team1        test
0    1102         NaN
1    1102   80.206968
2    1102  110.751562
3    1102  111.403978
4    1102  107.421125
5    1102  115.976090
6    1102  118.953602
7    1102  124.515169
8    1102  118.815041
9    1102  117.729593
10   1102  116.908737
11   1102  119.248303
12   1102  118.072860
13   1102  116.642412
14   1102  115.726568
15   1102  115.106497
16   1102  113.596038
17   1102  114.135144
18   1102  111.806709
19   1102  109.020109
20   1102  109.315021
21   1102  110.514085
22   1102  110.849859
23   1102  110.426568
24   1102  111.060117
25   1102  109.887177
26   1102  109.881439
27   1102  110.291703
28   1103         NaN
29   1103  115.228614
30   1103  119.185147
31   1103  113.082278
32   1103  114.938919
33   1103  116.934675
34   1103  115.887198
35   1103  116.639466
36   1103  115.974927
37   1103  118.806333
38   1103  117.720173
39   1103  119.858117
40   1103  118.341530
41   1103  117.008822
42   1103  117.016357
43   1103  114.998596
44   1103  115.909116
45   1103  116.867708
46   1103  117.100160
47   1103  117.299077
48   1103  116.124858
49   1103  115.279651
50   1103  116.254156
51   1103  115.881095
52   1103  116.774236
53   1103  116.984148
54   1103  116.403298
55   1104         NaN
56   1104   94.545293
57   1104  113.018233
58   1104  113.861542
59   1104  107.990148
60   1104  112.655102
61   1104  111.141720
62   1104  111.860189
63   1104  110.712487
64   1104  112.834718
65   1104  110.375877
66   1104  109.539709
67   1104  108.843149
68   1104  109.163754
69   1104  109.296631
70   1104  108.918062
71   1104  108.134933
72   1104  106.880263
73   1104  107.192871
74   1104  107.292792
75   1104  106.623365
76   1104  107.776126
77   1104  107.678865
78   1104  108.263438
79   1104  107.578027
80   1104  108.740637
81   1104  109.311280
82   1104  108.794869
83   1104  108.882967
84   1105         NaN
85   1105   53.092083
86   1105   67.769204
87   1105   79.211966
88   1105   90.579281
89   1105   90.095804
90   1105   91.962910
91   1105   92.648530
92   1105   93.725657
93   1105   93.575611
94   1105   96.517612
95   1105   95.962642
96   1105   94.759688
97   1105   94.636597
98   1105   94.250749
99   1105   93.425810

In [46]:
all_games.groupby(['Season', 'Team1'])['OffRtg'].shift(1).expanding().mean()

0                NaN
1          80.206968
2         110.751562
3         111.403978
4         107.421125
             ...
177233    107.659910
177234    107.659976
177235    107.659862
177236    107.659842
177237    107.659807
Name: OffRtg, Length: 177238, dtype: float64

In [42]:
all_games['OffRtg'].shift(1).expanding().mean()

0                NaN
1          80.206968
2         110.751562
3         111.403978
4         107.421125
             ...
177233    107.410610
177234    107.410676
177235    107.410567
177236    107.410548
177237    107.410516
Name: OffRtg, Length: 177238, dtype: float64

In [38]:
all_games.head()

,Unnamed: 0,TourneyGame,Season,DayNum,Team1,Team2,Team1_score,Team2_score,WLoc,NumOT,...,Team2_Stl,Team2_Blk,Team2_PF,Outcome,Loc,fg_eff,Pos,OffRtg,DefRtg,avg_oe
0,133,0,2003,19,1102,1257,47,65,H,0,...,8,4,23,0,A,0.285714,58.5984,80.206968,110.924530,NaN
1,246,0,2003,22,1102,1391,72,43,H,0,...,5,0,12,1,H,0.535714,50.9568,141.296157,84.385205,80.206968
2,339,0,2003,25,1102,1117,57,52,A,0,...,3,0,19,1,A,0.350000,50.5728,112.708808,102.822070,110.751562
3,473,0,2003,27,1102,1399,47,60,H,0,...,4,1,13,0,A,0.526316,49.2288,95.472569,121.879875,111.403978
4,612,0,2003,31,1102,1410,65,44,H,0,...,3,0,13,1,H,0.545455,43.2768,150.195948,101.671103,107.421125

In [66]:
import numpy as np

def get_adj_eff(all_games, location = ['H', 'A', 'N'], away_bonus = 0, start_num = 0):
    
    
    all_games['OffRtg'] = np.where(all_games['Loc'] == 'H', all_games['OffRtg'] * (1 - away_bonus),
         np.where(all_games['Loc'] == 'A', all_games['OffRtg'] * (1 + away_bonus),
                  all_games['OffRtg']))
         
         
    all_games['DefRtg'] = np.where(all_games['Loc'] == 'H', all_games['DefRtg'] * (1 + away_bonus),
         np.where(all_games['Loc'] == 'A', all_games['DefRtg'] * (1 - away_bonus),
                  all_games['DefRtg'])) 
        
    #sort values for rolling
    all_games.sort_values(by = ['Season', 'Team1', 'DayNum'], inplace = True)
    all_games.reset_index(drop=True, inplace = True)

    all_games['avg_oe'] = all_games.groupby(['Season', 'Team1'])['OffRtg'].transform(lambda x: x.shift(1).expanding().mean())
    all_games['avg_de'] = all_games.groupby(['Season', 'Team1'])['DefRtg'].transform(lambda x: x.shift(1).expanding().mean())

    #get opponents rolling averages "at that point in the season"
    all_games2 = all_games.rename(columns = {'Team1': 'Team2', 'Team2': 'Team1',
                                             'avg_oe': 'opp_avg_oe', 'avg_de':'opp_avg_de'})
    join_key = ['Team2', 'Season', 'DayNum']
    all_games3 = all_games.merge(all_games2[join_key + ['opp_avg_oe', 'opp_avg_de']], on = join_key, how = 'left')

    #get league's rolling averages "at that point in the season"
    all_games3.sort_values(by = ['Season', 'DayNum'], inplace = True)

    all_games3['league_avg_oe'] = all_games3.groupby(['Season'])['OffRtg'].transform(lambda x: x.shift(1).expanding().mean())
    all_games3['league_avg_de'] = all_games3.groupby(['Season'])['DefRtg'].transform(lambda x: x.shift(1).expanding().mean())

    #adj. oe and de based on opponents
    all_games3.sort_values(by = ['Season', 'Team1', 'DayNum'], inplace = True)
    all_games3['adj_oe'] = (1 - (all_games3['opp_avg_de']/all_games3['league_avg_de'] - 1) ) * all_games3['OffRtg']
    all_games3['adj_de'] = (1 - (all_games3['opp_avg_oe']/all_games3['league_avg_oe'] - 1) ) * all_games3['DefRtg']

    all_games3 = all_games3[all_games3['Loc'].isin(location)]
    
    all_games3 = all_games3[all_games3.DayNum > start_num]
    
    season_adj_oe_de = all_games3.groupby(['Season', 'Team1']).agg(
                
                adj_oe=('adj_oe', np.mean), 
                adj_de=('adj_de', np.mean), 
                #std_adj_oe=('adj_oe', np.std),
                #std_adj_de=('adj_de', np.std),
        
                ).reset_index()


    return season_adj_oe_de

In [67]:
reg_season_games = all_games[all_games.TourneyGame == 0]

In [68]:
def get_adj_eff_time_limited(df, start, end, location = ['H', 'A', 'N'], away_bonus = 0, start_num =0):
    
    df = df[ (df.DayNum >= start) & (df.DayNum <= end)]
    
    df = get_adj_eff(df, location = location, away_bonus = away_bonus, start_num = start_num)
    
    location_string = '_'.join(location)
    
    #df.rename(columns = {'adj_oe': 'adj_oe_' + str(start) + '_' + str(end),'adj_de': 'adj_de_' + str(start) + '_' + str(end)}, inplace = True)
    
    df.rename(columns = {'adj_oe': 'adj_oe_' + str(start_num),
                         'adj_de': 'adj_de_' + str(start_num)}, inplace = True)

    
    return df

In [69]:
season_adj_oe_de_0_end = get_adj_eff_time_limited(reg_season_games, 0, 999, away_bonus = 0)

In [239]:
for x in range(0, 143, 3):
    for y in range(0, 143, 3):
        print(x,y)

0 0
0 3
0 6
0 9
0 12
0 15
0 18
0 21
0 24
0 27
0 30
0 33
0 36
0 39
0 42
0 45
0 48
0 51
0 54
0 57
0 60
0 63
0 66
0 69
0 72
0 75
0 78
0 81
0 84
0 87
0 90
0 93
0 96
0 99
0 102
0 105
0 108
0 111
0 114
0 117
0 120
0 123
0 126
0 129
0 132
0 135
0 138
0 141
3 0
3 3
3 6
3 9
3 12
3 15
3 18
3 21
3 24
3 27
3 30
3 33
3 36
3 39
3 42
3 45
3 48
3 51
3 54
3 57
3 60
3 63
3 66
3 69
3 72
3 75
3 78
3 81
3 84
3 87
3 90
3 93
3 96
3 99
3 102
3 105
3 108
3 111
3 114
3 117
3 120
3 123
3 126
3 129
3 132
3 135
3 138
3 141
6 0
6 3
6 6
6 9
6 12
6 15
6 18
6 21
6 24
6 27
6 30
6 33
6 36
6 39
6 42
6 45
6 48
6 51
6 54
6 57
6 60
6 63
6 66
6 69
6 72
6 75
6 78
6 81
6 84
6 87
6 90
6 93
6 96
6 99
6 102
6 105
6 108
6 111
6 114
6 117
6 120
6 123
6 126
6 129
6 132
6 135
6 138
6 141
9 0
9 3
9 6
9 9
9 12
9 15
9 18
9 21
9 24
9 27
9 30
9 33
9 36
9 39
9 42
9 45
9 48
9 51
9 54
9 57
9 60
9 63
9 66
9 69
9 72
9 75
9 78
9 81
9 84
9 87
9 90
9 93
9 96
9 99
9 102
9 105
9 108
9 111
9 114
9 117
9 120
9 123
9 126
9 129
9 132
9 135
9 138
9 141
12 0
12 3
12 6
12 9
12 12
12 15
12 18
12 21
12 24
12 27
12 30
12 33
12 36
12 39
12 42
12 45
12 48
12 51
12 54
12 57
12 60
12 63
12 66
12 69
12 72
12 75
12 78
12 81
12 84
12 87
12 90
12 93
12 96
12 99
12 102
12 105
12 108
12 111
12 114
12 117
12 120
12 123
12 126
12 129
12 132
12 135
12 138
12 141
15 0
15 3
15 6
15 9
15 12
15 15
15 18
15 21
15 24
15 27
15 30
15 33
15 36
15 39
15 42
15 45
15 48
15 51
15 54
15 57
15 60
15 63
15 66
15 69
15 72
15 75
15 78
15 81
15 84
15 87
15 90
15 93
15 96
15 99
15 102
15 105
15 108
15 111
15 114
15 117
15 120
15 123
15 126
15 129
15 132
15 135
15 138
15 141
18 0
18 3
18 6
18 9
18 12
18 15
18 18
18 21
18 24
18 27
18 30
18 33
18 36
18 39
18 42
18 45
18 48
18 51
18 54
18 57
18 60
18 63
18 66
18 69
18 72
18 75
18 78
18 81
18 84
18 87
18 90
18 93
18 96
18 99
18 102
18 105
18 108
18 111
18 114
18 117
18 120
18 123
18 126
18 129
18 132
18 135
18 138
18 141
21 0
21 3
21 6
21 9
21 12
21 15
21 18
21 21
21 24
21 27
21 30
21 33
21 36
21 39
21 42
21 45
21 48
21 51
21 54
21 57
21 60
21 63
21 66
21 69
21 72
21 75
21 78
21 81
21 84
21 87
21 90
21 93
21 96
21 99
21 102
21 105
21 108
21 111
21 114
21 117
21 120
21 123
21 126
21 129
21 132
21 135
21 138
21 141
24 0
24 3
24 6
24 9
24 12
24 15
24 18
24 21
24 24
24 27
24 30
24 33
24 36
24 39
24 42
24 45
24 48
24 51
24 54
24 57
24 60
24 63
24 66
24 69
24 72
24 75
24 78
24 81
24 84
24 87
24 90
24 93
24 96
24 99
24 102
24 105
24 108
24 111
24 114
24 117
24 120
24 123
24 126
24 129
24 132
24 135
24 138
24 141
27 0
27 3
27 6
27 9
27 12
27 15
27 18
27 21
27 24
27 27
27 30
27 33
27 36
27 39
27 42
27 45
27 48
27 51
27 54
27 57
27 60
27 63
27 66
27 69
27 72
27 75
27 78
27 81
27 84
27 87
27 90
27 93
27 96
27 99
27 102
27 105
27 108
27 111
27 114
27 117
27 120
27 123
27 126
27 129
27 132
27 135
27 138
27 141
30 0
30 3
30 6
30 9
30 12
30 15
30 18
30 21
30 24
30 27
30 30
30 33
30 36
30 39
30 42
30 45
30 48
30 51
30 54
30 57
30 60
30 63
30 66
30 69
30 72
30 75
30 78
30 81
30 84
30 87
30 90
30 93
30 96
30 99
30 102
30 105
30 108
30 111
30 114
30 117
30 120
30 123
30 126
30 129
30 132
30 135
30 138
30 141
33 0
33 3
33 6
33 9
33 12
33 15
33 18
33 21
33 24
33 27
33 30
33 33
33 36
33 39
33 42
33 45
33 48
33 51
33 54
33 57
33 60
33 63
33 66
33 69
33 72
33 75
33 78
33 81
33 84
33 87
33 90
33 93
33 96
33 99
33 102
33 105
33 108
33 111
33 114
33 117
33 120
33 123
33 126
33 129
33 132
33 135
33 138
33 141
36 0
36 3
36 6
36 9
36 12
36 15
36 18
36 21
36 24
36 27
36 30
36 33
36 36
36 39
36 42
36 45
36 48
36 51
36 54
36 57
36 60
36 63
36 66
36 69
36 72
36 75
36 78
36 81
36 84
36 87
36 90
36 93
36 96
36 99
36 102
36 105
36 108
36 111
36 114
36 117
36 120
36 123
36 126
36 129
36 132
36 135
36 138
36 141
39 0
39 3
39 6
39 9
39 12
39 15
39 18
39 21
39 24
39 27
39 30
39 33
39 36
39 39
39 42
39 45
39 48
39 51
39 54
39 57
39 60
39 63
39 66
39 69
39 72
39 75
39 78
39 81
39 84
39 87
39 90
39 93
39 96
39 99
39 102
39 105
39 108
39 111
39 114
39 117
39 120
39 123
39 126
39 129
39 132
39 135
39 138
39 141
42 0
42 3
42 6
42 9
42 12
42 15
42 18
42 21
42 24
42 27
42 30
42 33
42 36
42 39
42 42
42 45
42 48
42 51
42 54
42 57
42 60
42 63
42 66
42 69
42 72
42 75
42 78
42 81
42 84
42 87
42 90
42 93
42 96
42 99
42 102
42 105
42 108
42 111
42 114
42 117
42 120
42 123
42 126
42 129
42 132
42 135
42 138
42 141
45 0
45 3
45 6
45 9
45 12
45 15
45 18
45 21
45 24
45 27
45 30
45 33
45 36
45 39
45 42
45 45
45 48
45 51
45 54
45 57
45 60
45 63
45 66
45 69
45 72
45 75
45 78
45 81
45 84
45 87
45 90
45 93
45 96
45 99
45 102
45 105
45 108
45 111
45 114
45 117
45 120
45 123
45 126
45 129
45 132
45 135
45 138
45 141
48 0
48 3
48 6
48 9
48 12
48 15
48 18
48 21
48 24
48 27
48 30
48 33
48 36
48 39
48 42
48 45
48 48
48 51
48 54
48 57
48 60
48 63
48 66
48 69
48 72
48 75
48 78
48 81
48 84
48 87
48 90
48 93
48 96
48 99
48 102
48 105
48 108
48 111
48 114
48 117
48 120
48 123
48 126
48 129
48 132
48 135
48 138
48 141
51 0
51 3
51 6
51 9
51 12
51 15
51 18
51 21
51 24
51 27
51 30
51 33
51 36
51 39
51 42
51 45
51 48
51 51
51 54
51 57
51 60
51 63
51 66
51 69
51 72
51 75
51 78
51 81
51 84
51 87
51 90
51 93
51 96
51 99
51 102
51 105
51 108
51 111
51 114
51 117
51 120
51 123
51 126
51 129
51 132
51 135
51 138
51 141
54 0
54 3
54 6
54 9
54 12
54 15
54 18
54 21
54 24
54 27
54 30
54 33
54 36
54 39
54 42
54 45
54 48
54 51
54 54
54 57
54 60
54 63
54 66
54 69
54 72
54 75
54 78
54 81
54 84
54 87
54 90
54 93
54 96
54 99
54 102
54 105
54 108
54 111
54 114
54 117
54 120
54 123
54 126
54 129
54 132
54 135
54 138
54 141
57 0
57 3
57 6
57 9
57 12
57 15
57 18
57 21
57 24
57 27
57 30
57 33
57 36
57 39
57 42
57 45
57 48
57 51
57 54
57 57
57 60
57 63
57 66
57 69
57 72
57 75
57 78
57 81
57 84
57 87
57 90
57 93
57 96
57 99
57 102
57 105
57 108
57 111
57 114
57 117
57 120
57 123
57 126
57 129
57 132
57 135
57 138
57 141
60 0
60 3
60 6
60 9
60 12
60 15
60 18
60 21
60 24
60 27
60 30
60 33
60 36
60 39
60 42
60 45
60 48
60 51
60 54
60 57
60 60
60 63
60 66
60 69
60 72
60 75
60 78
60 81
60 84
60 87
60 90
60 93
60 96
60 99
60 102
60 105
60 108
60 111
60 114
60 117
60 120
60 123
60 126
60 129
60 132
60 135
60 138
60 141
63 0
63 3
63 6
63 9
63 12
63 15
63 18
63 21
63 24
63 27
63 30
63 33
63 36
63 39
63 42
63 45
63 48
63 51
63 54
63 57
63 60
63 63
63 66
63 69
63 72
63 75
63 78
63 81
63 84
63 87
63 90
63 93
63 96
63 99
63 102
63 105
63 108
63 111
63 114
63 117
63 120
63 123
63 126
63 129
63 132
63 135
63 138
63 141
66 0
66 3
66 6
66 9
66 12
66 15
66 18
66 21
66 24
66 27
66 30
66 33
66 36
66 39
66 42
66 45
66 48
66 51
66 54
66 57
66 60
66 63
66 66
66 69
66 72
66 75
66 78
66 81
66 84
66 87
66 90
66 93
66 96
66 99
66 102
66 105
66 108
66 111
66 114
66 117
66 120
66 123
66 126
66 129
66 132
66 135
66 138
66 141
69 0
69 3
69 6
69 9
69 12
69 15
69 18
69 21
69 24
69 27
69 30
69 33
69 36
69 39
69 42
69 45
69 48
69 51
69 54
69 57
69 60
69 63
69 66
69 69
69 72
69 75
69 78
69 81
69 84
69 87
69 90
69 93
69 96
69 99
69 102
69 105
69 108
69 111
69 114
69 117
69 120
69 123
69 126
69 129
69 132
69 135
69 138
69 141
72 0
72 3
72 6
72 9
72 12
72 15
72 18
72 21
72 24
72 27
72 30
72 33
72 36
72 39
72 42
72 45
72 48
72 51
72 54
72 57
72 60
72 63
72 66
72 69
72 72
72 75
72 78
72 81
72 84
72 87
72 90
72 93
72 96
72 99
72 102
72 105
72 108
72 111
72 114
72 117
72 120
72 123
72 126
72 129
72 132
72 135
72 138
72 141
75 0
75 3
75 6
75 9
75 12
75 15
75 18
75 21
75 24
75 27
75 30
75 33
75 36
75 39
75 42
75 45
75 48
75 51
75 54
75 57
75 60
75 63
75 66
75 69
75 72
75 75
75 78
75 81
75 84
75 87
75 90
75 93
75 96
75 99
75 102
75 105
75 108
75 111
75 114
75 117
75 120
75 123
75 126
75 129
75 132
75 135
75 138
75 141
78 0
78 3
78 6
78 9
78 12
78 15
78 18
78 21
78 24
78 27
78 30
78 33
78 36
78 39
78 42
78 45
78 48
78 51
78 54
78 57
78 60
78 63
78 66
78 69
78 72
78 75
78 78
78 81
78 84
78 87
78 90
78 93
78 96
78 99
78 102
78 105
78 108
78 111
78 114
78 117
78 120
78 123
78 126
78 129
78 132
78 135
78 138
78 141
81 0
81 3
81 6
81 9
81 12
81 15
81 18
81 21
81 24
81 27
81 30
81 33
81 36
81 39
81 42
81 45
81 48
81 51
81 54
81 57
81 60
81 63
81 66
81 69
81 72
81 75
81 78
81 81
81 84
81 87
81 90
81 93
81 96
81 99
81 102
81 105
81 108
81 111
81 114
81 117
81 120
81 123
81 126
81 129
81 132
81 135
81 138
81 141
84 0
84 3
84 6
84 9
84 12
84 15
84 18
84 21
84 24
84 27
84 30
84 33
84 36
84 39
84 42
84 45
84 48
84 51
84 54
84 57
84 60
84 63
84 66
84 69
84 72
84 75
84 78
84 81
84 84
84 87
84 90
84 93
84 96
84 99
84 102
84 105
84 108
84 111
84 114
84 117
84 120
84 123
84 126
84 129
84 132
84 135
84 138
84 141
87 0
87 3
87 6
87 9
87 12
87 15
87 18
87 21
87 24
87 27
87 30
87 33
87 36
87 39
87 42
87 45
87 48
87 51
87 54
87 57
87 60
87 63
87 66
87 69
87 72
87 75
87 78
87 81
87 84
87 87
87 90
87 93
87 96
87 99
87 102
87 105
87 108
87 111
87 114
87 117
87 120
87 123
87 126
87 129
87 132
87 135
87 138
87 141
90 0
90 3
90 6
90 9
90 12
90 15
90 18
90 21
90 24
90 27
90 30
90 33
90 36
90 39
90 42
90 45
90 48
90 51
90 54
90 57
90 60
90 63
90 66
90 69
90 72
90 75
90 78
90 81
90 84
90 87
90 90
90 93
90 96
90 99
90 102
90 105
90 108
90 111
90 114
90 117
90 120
90 123
90 126
90 129
90 132
90 135
90 138
90 141
93 0
93 3
93 6
93 9
93 12
93 15
93 18
93 21
93 24
93 27
93 30
93 33
93 36
93 39
93 42
93 45
93 48
93 51
93 54
93 57
93 60
93 63
93 66
93 69
93 72
93 75
93 78
93 81
93 84
93 87
93 90
93 93
93 96
93 99
93 102
93 105
93 108
93 111
93 114
93 117
93 120
93 123
93 126
93 129
93 132
93 135
93 138
93 141
96 0
96 3
96 6
96 9
96 12
96 15
96 18
96 21
96 24
96 27
96 30
96 33
96 36
96 39
96 42
96 45
96 48
96 51
96 54
96 57
96 60
96 63
96 66
96 69
96 72
96 75
96 78
96 81
96 84
96 87
96 90
96 93
96 96
96 99
96 102
96 105
96 108
96 111
96 114
96 117
96 120
96 123
96 126
96 129
96 132
96 135
96 138
96 141
99 0
99 3
99 6
99 9
99 12
99 15
99 18
99 21
99 24
99 27
99 30
99 33
99 36
99 39
99 42
99 45
99 48
99 51
99 54
99 57
99 60
99 63
99 66
99 69
99 72
99 75
99 78
99 81
99 84
99 87
99 90
99 93
99 96
99 99
99 102
99 105
99 108
99 111
99 114
99 117
99 120
99 123
99 126
99 129
99 132
99 135
99 138
99 141
102 0
102 3
102 6
102 9
102 12
102 15
102 18
102 21
102 24
102 27
102 30
102 33
102 36
102 39
102 42
102 45
102 48
102 51
102 54
102 57
102 60
102 63
102 66
102 69
102 72
102 75
102 78
102 81
102 84
102 87
102 90
102 93
102 96
102 99
102 102
102 105
102 108
102 111
102 114
102 117
102 120
102 123
102 126
102 129
102 132
102 135
102 138
102 141
105 0
105 3
105 6
105 9
105 12
105 15
105 18
105 21
105 24
105 27
105 30
105 33
105 36
105 39
105 42
105 45
105 48
105 51
105 54
105 57
105 60
105 63
105 66
105 69
105 72
105 75
105 78
105 81
105 84
105 87
105 90
105 93
105 96
105 99
105 102
105 105
105 108
105 111
105 114
105 117
105 120
105 123
105 126
105 129
105 132
105 135
105 138
105 141
108 0
108 3
108 6
108 9
108 12
108 15
108 18
108 21
108 24
108 27
108 30
108 33
108 36
108 39
108 42
108 45
108 48
108 51
108 54
108 57
108 60
108 63
108 66
108 69
108 72
108 75
108 78
108 81
108 84
108 87
108 90
108 93
108 96
108 99
108 102
108 105
108 108
108 111
108 114
108 117
108 120
108 123
108 126
108 129
108 132
108 135
108 138
108 141
111 0
111 3
111 6
111 9
111 12
111 15
111 18
111 21
111 24
111 27
111 30
111 33
111 36
111 39
111 42
111 45
111 48
111 51
111 54
111 57
111 60
111 63
111 66
111 69
111 72
111 75
111 78
111 81
111 84
111 87
111 90
111 93
111 96
111 99
111 102
111 105
111 108
111 111
111 114
111 117
111 120
111 123
111 126
111 129
111 132
111 135
111 138
111 141
114 0
114 3
114 6
114 9
114 12
114 15
114 18
114 21
114 24
114 27
114 30
114 33
114 36
114 39
114 42
114 45
114 48
114 51
114 54
114 57
114 60
114 63
114 66
114 69
114 72
114 75
114 78
114 81
114 84
114 87
114 90
114 93
114 96
114 99
114 102
114 105
114 108
114 111
114 114
114 117
114 120
114 123
114 126
114 129
114 132
114 135
114 138
114 141
117 0
117 3
117 6
117 9
117 12
117 15
117 18
117 21
117 24
117 27
117 30
117 33
117 36
117 39
117 42
117 45
117 48
117 51
117 54
117 57
117 60
117 63
117 66
117 69
117 72
117 75
117 78
117 81
117 84
117 87
117 90
117 93
117 96
117 99
117 102
117 105
117 108
117 111
117 114
117 117
117 120
117 123
117 126
117 129
117 132
117 135
117 138
117 141
120 0
120 3
120 6
120 9
120 12
120 15
120 18
120 21
120 24
120 27
120 30
120 33
120 36
120 39
120 42
120 45
120 48
120 51
120 54
120 57
120 60
120 63
120 66
120 69
120 72
120 75
120 78
120 81
120 84
120 87
120 90
120 93
120 96
120 99
120 102
120 105
120 108
120 111
120 114
120 117
120 120
120 123
120 126
120 129
120 132
120 135
120 138
120 141
123 0
123 3
123 6
123 9
123 12
123 15
123 18
123 21
123 24
123 27
123 30
123 33
123 36
123 39
123 42
123 45
123 48
123 51
123 54
123 57
123 60
123 63
123 66
123 69
123 72
123 75
123 78
123 81
123 84
123 87
123 90
123 93
123 96
123 99
123 102
123 105
123 108
123 111
123 114
123 117
123 120
123 123
123 126
123 129
123 132
123 135
123 138
123 141
126 0
126 3
126 6
126 9
126 12
126 15
126 18
126 21
126 24
126 27
126 30
126 33
126 36
126 39
126 42
126 45
126 48
126 51
126 54
126 57
126 60
126 63
126 66
126 69
126 72
126 75
126 78
126 81
126 84
126 87
126 90
126 93
126 96
126 99
126 102
126 105
126 108
126 111
126 114
126 117
126 120
126 123
126 126
126 129
126 132
126 135
126 138
126 141
129 0
129 3
129 6
129 9
129 12
129 15
129 18
129 21
129 24
129 27
129 30
129 33
129 36
129 39
129 42
129 45
129 48
129 51
129 54
129 57
129 60
129 63
129 66
129 69
129 72
129 75
129 78
129 81
129 84
129 87
129 90
129 93
129 96
129 99
129 102
129 105
129 108
129 111
129 114
129 117
129 120
129 123
129 126
129 129
129 132
129 135
129 138
129 141
132 0
132 3
132 6
132 9
132 12
132 15
132 18
132 21
132 24
132 27
132 30
132 33
132 36
132 39
132 42
132 45
132 48
132 51
132 54
132 57
132 60
132 63
132 66
132 69
132 72
132 75
132 78
132 81
132 84
132 87
132 90
132 93
132 96
132 99
132 102
132 105
132 108
132 111
132 114
132 117
132 120
132 123
132 126
132 129
132 132
132 135
132 138
132 141
135 0
135 3
135 6
135 9
135 12
135 15
135 18
135 21
135 24
135 27
135 30
135 33
135 36
135 39
135 42
135 45
135 48
135 51
135 54
135 57
135 60
135 63
135 66
135 69
135 72
135 75
135 78
135 81
135 84
135 87
135 90
135 93
135 96
135 99
135 102
135 105
135 108
135 111
135 114
135 117
135 120
135 123
135 126
135 129
135 132
135 135
135 138
135 141
138 0
138 3
138 6
138 9
138 12
138 15
138 18
138 21
138 24
138 27
138 30
138 33
138 36
138 39
138 42
138 45
138 48
138 51
138 54
138 57
138 60
138 63
138 66
138 69
138 72
138 75
138 78
138 81
138 84
138 87
138 90
138 93
138 96
138 99
138 102
138 105
138 108
138 111
138 114
138 117
138 120
138 123
138 126
138 129
138 132
138 135
138 138
138 141
141 0
141 3
141 6
141 9
141 12
141 15

141 18
141 21
141 24
141 27
141 30
141 33
141 36
141 39
141 42
141 45
141 48
141 51
141 54
141 57
141 60
141 63
141 66
141 69
141 72
141 75
141 78
141 81
141 84
141 87
141 90
141 93
141 96
141 99
141 102
141 105
141 108
141 111
141 114
141 117
141 120
141 123
141 126
141 129
141 132
141 135
141 138
141 141

In [70]:
#season_adj_oe_de_0_end = get_adj_eff_time_limited(reg_season_games, 0, 999, away_bonus = 0)
#season_adj_oe_de_67_end = get_adj_eff_time_limited(reg_season_games, 0, 999, away_bonus = 0, start_num = 67)
#season_adj_oe_de_100_end = get_adj_eff_time_limited(reg_season_games, 0, 999, away_bonus = 0, start_num = 100)
#season_adj_oe_de_118_end = get_adj_eff_time_limited(reg_season_games, 0, 999, away_bonus = 0, start_num = 118)

In [71]:
#season_adj_oe_de_0_32 = get_adj_eff_time_limited(reg_season_games, 0, 32, away_bonus = 0)
#season_adj_oe_de_33_65 = get_adj_eff_time_limited(reg_season_games, 33, 65, away_bonus = 0)
#season_adj_oe_de_66_98 = get_adj_eff_time_limited(reg_season_games, 66, 98, away_bonus = 0)
#season_adj_oe_de_99_999 = get_adj_eff_time_limited(reg_season_games, 99, 999, away_bonus = 0)

In [72]:
#season_adj_oe_de_118_end = get_adj_eff_time_limited(reg_season_games, 118, 999)

In [73]:
#season_adj_oe_de_0_end = get_adj_eff_time_limited(reg_season_games, 0, 999)
#season_adj_oe_de_0_50 = get_adj_eff_time_limited(reg_season_games, 0, 50)
#season_adj_oe_de_50_100 = get_adj_eff_time_limited(reg_season_games, 50, 100)
#season_adj_oe_de_0_100 = get_adj_eff_time_limited(reg_season_games, 0, 100)

#season_adj_oe_de_80_end = get_adj_eff_time_limited(reg_season_games, 80, 999)
#season_adj_oe_de_90_end = get_adj_eff_time_limited(reg_season_games, 90, 999)
#season_adj_oe_de_100_end = get_adj_eff_time_limited(reg_season_games, 100, 999)

### Set up data

In [74]:
def setup(all_games, sub):
    
    tourney_games = all_games[(all_games.TourneyGame == 1)]

    tourney_games['ID'] = tourney_games['Season'].astype(str) + '_' + \
                             tourney_games['Team1'].astype(str) + '_' + \
                             tourney_games['Team2'].astype(str)

    tourney_games['Pred'] = None

    tourney_games['type'] = 0

    sub['Outcome'] = None
    sub['type'] = 1

    tourney_games = tourney_games[['type', 'ID', 'Pred', 'Season', 'Team1', 'Team2', 'Outcome']]

    sub = sub[['type', 'ID', 'Pred', 'Season', 'Team1', 'Team2', 'Outcome']]

    tourney_games = pd.concat([tourney_games, sub], axis = 0)
    
    return tourney_games

In [75]:
tourney_games = setup(all_games, sub)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

### Add features

In [76]:
def add_all_features(tourney_games):
    
    #end rankings
    tourney_games = add_features(tourney_games, end_rankings, ['final_rank'])
    
    #seed diff
    tourney_games = add_features(tourney_games, tourney_seeds, ['Seed'])
    tourney_games['seed_diff'] = tourney_games.t1_Seed - tourney_games.t2_Seed
    
    #pre season ranks
    tourney_games = add_features(tourney_games, ap_rankings[['Season','Team1','OrdinalRank', 'pre_season_top_25_flag']], ['OrdinalRank', 'pre_season_top_25_flag'])
    tourney_games['t1_OrdinalRank'] = tourney_games['t1_OrdinalRank'].fillna(25)
    tourney_games['t2_OrdinalRank'] = tourney_games['t2_OrdinalRank'].fillna(25)
    
    #adj oe and de 
    tourney_games = add_features(tourney_games, season_adj_oe_de_0_end, ['adj_oe_0', 'adj_de_0'])
    tourney_games['t1_adj_margin'] = tourney_games['t1_adj_oe_0'] - tourney_games['t1_adj_de_0']
    tourney_games['t2_adj_margin'] = tourney_games['t2_adj_oe_0'] - tourney_games['t2_adj_de_0']


    return tourney_games

### Run Model

In [228]:
def build_model(df, feature_list):
    
    df = df[(df.Season < 2015)]
    df = df.fillna(0)
    
    X = df[feature_list].values
    df['Outcome']=df['Outcome'].astype('int') 
    y = df['Outcome'].values.ravel()
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
    
    #Grid search to get best params
    clf = LogisticRegression(random_state = 0)
    params = {'C': np.logspace(start=-5, stop=3, num=9), 'penalty': ['l2', 'l1']}
    clf = GridSearchCV(clf, params, scoring='neg_log_loss', refit=True)
    clf.fit(X_train, y_train)
    best_param = clf.best_params_

    #Use best params to train final model
    logreg = LogisticRegression(**best_param)
    logreg.fit(X_train, y_train)
    
    #Cross validation
    seasons = list(df.Season.unique())

    log_loss_list = []

    for test_season in seasons:

        train_seasons = seasons.copy()
        train_seasons.remove(test_season)

        X_train = df[df['Season'].isin(train_seasons)][feature_list].values
        X_test = df[df.Season == test_season][feature_list].values

        y_train = df[df['Season'].isin(train_seasons)]['Outcome'].values.ravel()
        y_test = df[df.Season == test_season]['Outcome'].values.ravel()

        logreg = LogisticRegression(**best_param)
        logreg.fit(X_train, y_train)

        #Evaluate score on test set 
        y_pred = logreg.predict_proba(X_test)

        ll = log_loss(y_test, y_pred)
        log_loss_list.append(ll) 
        
    avg_log_loss = sum(log_loss_list) / len(log_loss_list)

    #print('avg. log loss: {}'.format(avg_log_loss))
    #print('min log loss: {}'.format(min(log_loss_list)))
    #print('max log loss: {}'.format(max(log_loss_list)))
    #print('std dev log loss: {}'.format(statistics.stdev(log_loss_list)))
    #print(log_loss_list)
    
    return avg_log_loss

### export

In [229]:
tourney_games = setup(all_games, sub)
tourney_games = add_all_features(tourney_games)

In [230]:
tourney_games.to_csv('output/all_games.csv')

### Complete pipeline

In [117]:
feature_list = ['seed_diff',  
                't1_adj_margin','t2_adj_margin',
                't1_final_rank', 't2_final_rank',
                't1_OrdinalRank', 't2_OrdinalRank']

def full_pipeline(feature_list):

    tourney_games = setup(all_games, sub)
    tourney_games = add_all_features(tourney_games)
    avg_log_loss = build_model(tourney_games, feature_list)
    
    return avg_log_loss

In [118]:
import warnings
warnings.filterwarnings('ignore')

In [231]:
full_pipeline(feature_list)

0.5357415850410575

In [665]:
tourney_games

,type,ID,Pred,Season,Team1,Team2,Outcome,avg_rank_x,t1_final_rank,avg_rank_y,...,t2_Seed,seed_diff,t1_OrdinalRank,t1_pre_season_top_25_flag,t2_OrdinalRank,t2_pre_season_top_25_flag,t1_adj_oe_0,t1_adj_de_0,t2_adj_oe_0,t2_adj_de_0
0,0,2003_1421_1411,NaN,2003,1421,1411,1,NaN,NaN,NaN,...,16,0,25.0,NaN,25.0,NaN,104.526528,119.437414,106.509926,111.907479
1,0,2003_1112_1436,NaN,2003,1112,1436,1,NaN,NaN,NaN,...,16,-15,1.0,1.0,25.0,NaN,119.071254,93.286794,106.884988,101.850357
2,0,2003_1113_1272,NaN,2003,1113,1272,1,NaN,NaN,NaN,...,7,3,25.0,NaN,25.0,NaN,121.219248,101.541410,114.009765,96.248862
3,0,2003_1141_1166,NaN,2003,1141,1166,1,NaN,NaN,NaN,...,6,5,25.0,NaN,23.0,1.0,113.038016,105.370558,117.078846,97.251061
4,0,2003_1143_1301,NaN,2003,1143,1301,1,NaN,NaN,NaN,...,9,-1,25.0,NaN,25.0,NaN,111.121076,101.087582,116.019889,102.254106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13615,1,2019_1449_1459,0.5,2019,1449,1459,None,32.0,84.559424,28.0,...,7,2,25.0,NaN,25.0,NaN,112.209691,97.002177,121.896135,100.694552
13616,1,2019_1449_1463,0.5,2019,1449,1463,None,32.0,84.559424,60.0,...,14,-5,25.0,NaN,25.0,NaN,112.209691,97.002177,116.598684,107.806743
13617,1,2019_1458_1459,0.5,2019,1458,1459,None,25.0,85.831250,28.0,...,7,-2,25.0,NaN,25.0,NaN,114.171157,93.066219,121.896135,100.694552
13618,1,2019_1458_1463,0.5,2019,1458,1463,None,25.0,85.831250,60.0,...,14,-9,25.0,NaN,25.0,NaN,114.171157,93.066219,116.598684,107.806743
13619,1,2019_1459_1463,0.5,2019,1459,1463,None,28.0,85.258089,60.0,...,14,-7,25.0,NaN,25.0,NaN,121.896135,100.694552,116.598684,107.806743

### Legacy feature adding process

In [621]:
end_rankings.head()

tourney_games = add_features(tourney_games, end_rankings, ['final_rank'])

In [622]:
tourney_games = add_features(tourney_games, recent, ['WinRatio14d'])

tourney_games.head()

,type,ID,Pred,Season,Team1,Team2,Outcome,avg_rank_x,t1_final_rank,avg_rank_y,t2_final_rank,total_wins_x,total_games_x,t1_WinRatio14d,total_wins_y,total_games_y,t2_WinRatio14d
0,0,2003_1421_1411,NaN,2003,1421,1411,1,NaN,NaN,NaN,NaN,13,29,0.448276,18,30,0.600000
1,0,2003_1112_1436,NaN,2003,1112,1436,1,NaN,NaN,NaN,NaN,25,28,0.892857,19,29,0.655172
2,0,2003_1113_1272,NaN,2003,1113,1272,1,NaN,NaN,NaN,NaN,18,29,0.620690,23,29,0.793103
3,0,2003_1141_1166,NaN,2003,1141,1166,1,NaN,NaN,NaN,NaN,23,29,0.793103,29,33,0.878788
4,0,2003_1143_1301,NaN,2003,1143,1301,1,NaN,NaN,NaN,NaN,21,29,0.724138,18,30,0.600000

In [623]:
tourney_games = add_features(tourney_games, fg_eff, ['mean_fg_eff','std_fg_eff'])

In [624]:
tourney_games = add_features(tourney_games, tourney_seeds, ['Seed'])

In [625]:
tourney_games['seed_diff'] = tourney_games.t1_Seed - tourney_games.t2_Seed

In [626]:
tourney_games = add_features(tourney_games, ct, 
                             ['num_wins', 'num_losses', 'ct_win_rate'])

In [627]:
tourney_games = add_features(tourney_games, ap_rankings[['Season','Team1','OrdinalRank', 'pre_season_top_25_flag']], ['OrdinalRank', 'pre_season_top_25_flag'])

tourney_games['t1_OrdinalRank'] = tourney_games['t1_OrdinalRank'].fillna(25)
tourney_games['t2_OrdinalRank'] = tourney_games['t2_OrdinalRank'].fillna(25)

tourney_games['t1_pre_season_top_25_flag'] = tourney_games['t1_pre_season_top_25_flag'].fillna(0)
tourney_games['t2_pre_season_top_25_flag'] = tourney_games['t2_pre_season_top_25_flag'].fillna(0)

In [628]:
tourney_games.head()

,type,ID,Pred,Season,Team1,Team2,Outcome,avg_rank_x,t1_final_rank,avg_rank_y,...,t1_num_wins,t1_num_losses,t1_ct_win_rate,t2_num_wins,t2_num_losses,t2_ct_win_rate,t1_OrdinalRank,t1_pre_season_top_25_flag,t2_OrdinalRank,t2_pre_season_top_25_flag
0,0,2003_1421_1411,NaN,2003,1421,1411,1,NaN,NaN,NaN,...,3.0,0.0,1.0,3.0,0.0,1.000000,25.0,0.0,25.0,0.0
1,0,2003_1112_1436,NaN,2003,1112,1436,1,NaN,NaN,NaN,...,0.0,1.0,0.0,3.0,0.0,1.000000,1.0,1.0,25.0,0.0
2,0,2003_1113_1272,NaN,2003,1113,1272,1,NaN,NaN,NaN,...,0.0,1.0,0.0,1.0,1.0,0.500000,25.0,0.0,25.0,0.0
3,0,2003_1141_1166,NaN,2003,1141,1166,1,NaN,NaN,NaN,...,3.0,0.0,1.0,3.0,0.0,1.000000,25.0,0.0,23.0,1.0
4,0,2003_1143_1301,NaN,2003,1143,1301,1,NaN,NaN,NaN,...,1.0,1.0,0.5,2.0,1.0,0.666667,25.0,0.0,25.0,0.0

In [629]:
#Mean encoding for top 25
tourney_games1 = tourney_games [~tourney_games['Outcome'].isna()]
tourney_games1['Outcome'] = tourney_games1['Outcome'].astype(float)
me_top25 = tourney_games1.groupby('t1_OrdinalRank').agg({'Outcome':np.mean}).reset_index()
me_top25.rename(columns = {'Outcome': 'top_25'}, inplace = True)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [630]:
me_top25.head()

   t1_OrdinalRank    top_25
0             1.0  0.782609
1             2.0  0.754098
2             3.0  0.686275
3             4.0  0.793103
4             5.0  0.740741

In [631]:
tourney_games = tourney_games.merge(me_top25, on = ['t1_OrdinalRank'])
tourney_games.rename(columns = {'top_25': 't1_top_25'}, inplace = True)

me_top25.rename(columns = {'t1_OrdinalRank':'t2_OrdinalRank'}, inplace = True)
tourney_games = tourney_games.merge(me_top25, on = ['t2_OrdinalRank'])
tourney_games.rename(columns = {'top_25': 't2_top_25'}, inplace = True)

In [632]:
tourney_games.head()

,type,ID,Pred,Season,Team1,Team2,Outcome,avg_rank_x,t1_final_rank,avg_rank_y,...,t1_ct_win_rate,t2_num_wins,t2_num_losses,t2_ct_win_rate,t1_OrdinalRank,t1_pre_season_top_25_flag,t2_OrdinalRank,t2_pre_season_top_25_flag,t1_top_25,t2_top_25
0,0,2003_1421_1411,NaN,2003,1421,1411,1,NaN,NaN,NaN,...,1.0,3.0,0.0,1.000000,25.0,0.0,25.0,0.0,0.376592,0.376592
1,0,2003_1113_1272,NaN,2003,1113,1272,1,NaN,NaN,NaN,...,0.0,1.0,1.0,0.500000,25.0,0.0,25.0,0.0,0.376592,0.376592
2,0,2003_1143_1301,NaN,2003,1143,1301,1,NaN,NaN,NaN,...,0.5,2.0,1.0,0.666667,25.0,0.0,25.0,0.0,0.376592,0.376592
3,0,2003_1211_1153,NaN,2003,1211,1153,1,NaN,NaN,NaN,...,0.5,0.0,1.0,0.000000,25.0,0.0,25.0,0.0,0.376592,0.376592
4,0,2003_1458_1451,NaN,2003,1458,1451,1,NaN,NaN,NaN,...,0.0,2.0,0.0,1.000000,25.0,0.0,25.0,0.0,0.376592,0.376592

In [633]:
#tourney_games = add_features(tourney_games, season_adj_oe_de_0_end, ['adj_oe_0_999_H_A_N', 'adj_de_0_999_H_A_N'])
#tourney_games = add_features(tourney_games, season_adj_oe_de_0_end_H, ['adj_oe_0_999_H', 'adj_de_0_999_H'])
#tourney_games = add_features(tourney_games, season_adj_oe_de_0_end_A, ['adj_oe_0_999_A_N', 'adj_de_0_999_A_N'])

In [634]:
#tourney_games = add_features(tourney_games, season_adj_oe_de_0_end, ['adj_oe_0_999', 'adj_de_0_999',
            #'std_adj_oe', 'std_adj_de'])
    
tourney_games = add_features(tourney_games, season_adj_oe_de_0_end, ['adj_oe_0', 'adj_de_0'])
#tourney_games = add_features(tourney_games, season_adj_oe_de_67_end, ['adj_oe_67', 'adj_de_67'])
#tourney_games = add_features(tourney_games, season_adj_oe_de_100_end, ['adj_oe_100', 'adj_de_100'])
#tourney_games = add_features(tourney_games, season_adj_oe_de_118_end, ['adj_oe_118', 'adj_de_118'])


#tourney_games = add_features(tourney_games, season_adj_oe_de_118_end, ['adj_oe_118_999', 'adj_de_118_999'])
#tourney_games = add_features(tourney_games, season_adj_oe_de2, ['adj_oe', 'adj_de'])
#tourney_games = add_features(tourney_games, season_adj_oe_de_0_50, ['adj_oe_0_50', 'adj_de_0_50'])
#tourney_games = add_features(tourney_games, season_adj_oe_de_50_100, ['adj_oe_50_100', 'adj_de_50_100'])
#tourney_games = add_features(tourney_games, season_adj_oe_de_0_100, ['adj_oe_0_100', 'adj_de_0_100'])
#tourney_games = add_features(tourney_games, season_adj_oe_de_80_end, ['adj_oe_80_999', 'adj_de_80_999'])
#tourney_games = add_features(tourney_games, season_adj_oe_de_90_end, ['adj_oe_90_999', 'adj_de_90_999'])
#tourney_games = add_features(tourney_games, season_adj_oe_de_100_end, ['adj_oe_100_999', 'adj_de_100_999'])
#tourney_games = add_features(tourney_games, season_adj_oe_de_110_end, ['adj_oe_110_999', 'adj_de_110_999'])
#tourney_games = add_features(tourney_games, season_adj_oe_de_120_end, ['adj_oe_120_999', 'adj_de_120_999'])

In [635]:
#tourney_games = add_features(tourney_games, season_adj_oe_de_0_32, ['adj_oe_0_32', 'adj_de_0_32'])
#tourney_games = add_features(tourney_games, season_adj_oe_de_33_65, ['adj_oe_33_65', 'adj_de_33_65'])
#tourney_games = add_features(tourney_games, season_adj_oe_de_66_98, ['adj_oe_66_98', 'adj_de_66_98'])
#tourney_games = add_features(tourney_games, season_adj_oe_de_99_999, ['adj_oe_99_999', 'adj_de_99_999'])

In [636]:
#tourney_games['t1_oe_improvement'] = tourney_games['t1_adj_oe_100_999'] / tourney_games['t1_adj_oe_0_100']
#tourney_games['t2_oe_improvement'] = tourney_games['t2_adj_oe_100_999'] / tourney_games['t2_adj_oe_0_100']
#tourney_games['t1_de_improvement'] = tourney_games['t1_adj_de_100_999'] / tourney_games['t1_adj_de_0_100']
#tourney_games['t2_de_improvement'] = tourney_games['t2_adj_de_100_999'] / tourney_games['t2_adj_de_0_100']
#tourney_games['oe_de_ratio'] = tourney_games['t1_adj_oe_0_999_H_A_N'] / tourney_games['t2_adj_de_0_999_H_A_N']
#tourney_games['de_oe_ratio'] = tourney_games['t1_adj_de_0_999_H_A_N'] / tourney_games['t2_adj_oe_0_999_H_A_N']

In [637]:
tourney_games.head()

,type,ID,Pred,Season,Team1,Team2,Outcome,avg_rank_x,t1_final_rank,avg_rank_y,...,t2_adj_oe_67,t2_adj_de_67,t1_adj_oe_100,t1_adj_de_100,t2_adj_oe_100,t2_adj_de_100,t1_adj_oe_118,t1_adj_de_118,t2_adj_oe_118,t2_adj_de_118
0,0,2003_1421_1411,NaN,2003,1421,1411,1,NaN,NaN,NaN,...,105.341005,109.981801,108.203685,118.849998,107.962741,118.069851,112.254852,110.323822,114.157146,109.160068
1,0,2003_1113_1272,NaN,2003,1113,1272,1,NaN,NaN,NaN,...,116.817293,100.233367,123.597248,110.374428,119.357181,95.841234,121.700858,101.788465,121.974701,104.864738
2,0,2003_1143_1301,NaN,2003,1143,1301,1,NaN,NaN,NaN,...,115.568826,106.065366,109.219208,105.255664,115.236653,106.766659,100.029999,100.540329,122.619398,108.788385
3,0,2003_1211_1153,NaN,2003,1211,1153,1,NaN,NaN,NaN,...,112.859192,100.771307,116.116042,102.458978,104.913123,101.183426,112.919073,98.561573,109.003994,100.152815
4,0,2003_1458_1451,NaN,2003,1458,1451,1,NaN,NaN,NaN,...,125.893964,110.260054,116.405184,98.137550,121.376063,106.780195,109.576570,104.948527,117.262063,99.762571

In [638]:
tourney_games.to_csv('output/all_games.csv')
#season_adj_oe_de.to_csv('output/pred.csv')

#### Add team names

In [ ]:
teams.rename(columns = {'TeamID': 'Team1', 'TeamName': 'TeamName1'}, inplace = True)
join_key = ['Team1']
season_adj_oe_de = season_adj_oe_de.merge(teams[join_key + ['TeamName']], on = join_key)

In [37]:
tourney_games.head()

,Unnamed: 0,TourneyGame,Season,DayNum,Team1,Team2,Team1_score,Team2_score,WLoc,NumOT,...,t1_adj_oe,t1_adj_de,TeamName_x,t2_adj_oe,t2_adj_de,TeamName_y,t1_adj_oe_100_y,t1_adj_de_100_y,t2_adj_oe_100_y,t2_adj_de_100_y
0,20,1,2003,137,1104,1231,62,67,N,0,...,113.680842,99.834794,Alabama,117.478661,103.478134,Indiana,110.296428,106.965071,118.374155,111.785162
1,1,1,2003,136,1112,1436,80,51,N,0,...,119.490384,93.288067,Arizona,105.836663,101.753053,Vermont,116.418340,95.983003,109.981695,97.981018
2,33,1,2003,138,1112,1211,96,95,N,2,...,119.490384,93.288067,Arizona,119.624007,103.464641,Gonzaga,116.418340,95.983003,121.797517,105.091126
3,49,1,2003,143,1112,1323,88,71,N,0,...,119.490384,93.288067,Arizona,121.933163,98.983228,Notre Dame,116.418340,95.983003,113.952873,111.759944
4,57,1,2003,145,1112,1242,75,78,N,0,...,119.490384,93.288067,Arizona,122.037040,89.102885,Kansas,116.418340,95.983003,116.510857,93.701459

In [19]:
features = ['adj_oe', 'adj_de']
season_adj_oe_de1 = season_adj_oe_de.rename(columns = {f: 't1_' + f for f in features})
season_adj_oe_de2 = season_adj_oe_de.rename(columns ={f: 't2_' + f for f in features})
season_adj_oe_de2 = season_adj_oe_de2.rename(columns ={'Team1': 'Team2'})

In [149]:
tourney_games = tourney_games.merge(season_adj_oe_de1, on = ['Team1', 'Season'], how = 'left')
tourney_games = tourney_games.merge(season_adj_oe_de2, on = ['Team2', 'Season'], how = 'left')

In [154]:
tourney_games.to_csv('output/all_games.csv')
season_adj_oe_de.to_csv('output/pred.csv')

#### Add seeds