In [1]:
import pandas as pd

In [11]:
_538 = pd.read_csv('../data/all_538.csv')
kaggle_mapping = pd.read_csv('../data/final_kaggle_538_mapping.csv')
mteams = pd.read_csv('../data/MTeams.csv')
wteams = pd.read_csv('../data/WTeams.csv')

_538['Season'] = pd.to_datetime(_538.forecast_date).dt.year.astype(int)

### The following illustrates the process of mapping the 538 data for womens in 2023

In [3]:
_538_2023 = pd.read_csv('../data/fivethirtyeight_2023.csv')
_538_2023['Season'] = pd.to_datetime(_538_2023.forecast_date).dt.year.astype(int)

In [4]:
_538_2023_womens = _538_2023[_538_2023.gender == 'womens']

In [5]:
_538_matched_womens = _538_2023_womens.merge(kaggle_mapping, how='left', left_on='team_name', right_on='match_system_team')

In [7]:
_538_matched_womens = _538_matched_womens.drop('team_id', axis=1)

In [146]:
# _538.sort_values(by ='forecast_date').forecast_date.unique()

# dates = ['2016-03-14', '2017-03-12', '2018-03-12', '2019-03-17', '2021-03-14','2022-03-13', '2023-03-12']

# _538_cleaned = _538[_538.forecast_date.isin(dates)].copy()

In [148]:
_538_matched_womens = _538_cleaned[_538_cleaned.gender == 'womens'].copy()
_538_matched_mens = _538_cleaned[_538_cleaned.gender == 'mens'].copy()

In [149]:
_538_matched_mens = _538_matched_mens.merge(kaggle_mapping, how='left', left_on='team_name', right_on='match_system_team')
_538_matched_womens = _538_matched_womens.merge(kaggle_mapping, how='left', left_on='team_name', right_on='match_system_team')

In [150]:
_538_matched_mens = _538_matched_mens.drop('team_id', axis=1)
_538_matched_womens = _538_matched_womens.drop('team_id', axis=1)

In [9]:
_538_matched_womens = _538_matched_womens.merge(wteams,how='left', left_on='kaggle_team', right_on='TeamName')

In [12]:
_538_matched_womens.columns

Index(['gender', 'forecast_date', 'playin_flag', 'rd1_win', 'rd2_win',
       'rd3_win', 'rd4_win', 'rd5_win', 'rd6_win', 'rd7_win', 'results_to',
       'team_alive', 'team_name', 'team_rating', 'team_region', 'team_seed',
       'team_slot', 'Season', 'kaggle_team', 'match_system_team',
       'match_system', 'TeamID', 'TeamName'],
      dtype='object')

In [15]:
_538 = _538.drop('Unnamed: 0', axis=1)

In [18]:
_538 = pd.concat([_538, _538_matched_womens], axis = 0)

In [21]:
_538.to_csv('../data/all_538.csv', index=False)

In [26]:
womens = _538[_538.gender == 'womens']

In [27]:
womens.to_csv('../data/W538.csv', index=False)

In [17]:
list(zip(_538.columns, _538_matched_womens))

[('gender', 'gender'),
 ('forecast_date', 'forecast_date'),
 ('playin_flag', 'playin_flag'),
 ('rd1_win', 'rd1_win'),
 ('rd2_win', 'rd2_win'),
 ('rd3_win', 'rd3_win'),
 ('rd4_win', 'rd4_win'),
 ('rd5_win', 'rd5_win'),
 ('rd6_win', 'rd6_win'),
 ('rd7_win', 'rd7_win'),
 ('team_alive', 'results_to'),
 ('team_name', 'team_alive'),
 ('team_rating', 'team_name'),
 ('team_region', 'team_rating'),
 ('team_seed', 'team_region'),
 ('results_to', 'team_seed'),
 ('team_slot', 'team_slot'),
 ('Season', 'Season'),
 ('kaggle_team', 'kaggle_team'),
 ('match_system_team', 'match_system_team'),
 ('match_system', 'match_system'),
 ('TeamID', 'TeamID'),
 ('TeamName', 'TeamName')]

In [151]:
_538_matched_mens = _538_matched_mens.merge(mteams,how='left', left_on='kaggle_team', right_on='TeamName')
_538_matched_womens = _538_matched_womens.merge(wteams,how='left', left_on='kaggle_team', right_on='TeamName')

In [152]:
_538_matched_mens[['Season', 'TeamID']].value_counts()


_538_matched_mens = _538_matched_mens[_538_matched_mens.match_system_team != '']

In [153]:
_538_matched_mens
_538_matched_mens[_538_matched_mens.TeamID == 1166]

,Unnamed: 0,gender,forecast_date,playin_flag,rd1_win,rd2_win,rd3_win,rd4_win,rd5_win,rd6_win,...,results_to,team_slot,Season,kaggle_team,match_system_team,match_system,TeamID,TeamName,FirstD1Season,LastD1Season
93,25,mens,2017-03-12,0,1.0,0.560859,0.219366,0.082632,0.028123,0.010679,...,NaN,NaN,2017,Creighton,Creighton,538,1166,Creighton,1985,2023
165,777,mens,2018-03-12,0,1.0,0.582607,0.097680,0.037712,0.013372,0.005399,...,NaN,NaN,2018,Creighton,Creighton,538,1166,Creighton,1985,2023
285,693,mens,2021-03-14,0,1.0,0.818708,0.413032,0.096099,0.048696,0.026252,...,1.0,8.0,2021,Creighton,Creighton,538,1166,Creighton,1985,2023
377,785,mens,2022-03-13,0,1.0,0.445588,0.086119,0.031879,0.012279,0.003796,...,1.0,70.0,2022,Creighton,Creighton,538,1166,Creighton,1985,2023
419,11,mens,2023-03-12,0,1.0,0.784554,0.457186,0.260216,0.113253,0.061209,...,1.0,16.0,2023,Creighton,Creighton,538,1166,Creighton,1985,2023

In [154]:
_538_matched = pd.concat([_538_matched_mens, _538_matched_womens], axis=0)

In [155]:
_538_matched.to_csv('../data/all_538.csv', index=False)

In [159]:
_538.TeamID.value_counts()

_538_matched_womens = _538[_538.gender == 'womens'].copy()
_538_matched_mens = _538[_538.gender == 'mens'].copy()

In [165]:
_538_matched_mens[['Season', 'TeamID']].drop_duplicates()

     Season  TeamID
0      2016    1242
1      2016    1314
2      2016    1438
3      2016    1277
4      2016    1328
..      ...     ...
471    2023    1394
472    2023    1369
473    2023    1224
474    2023    1411
475    2023    1192

[476 rows x 2 columns]