In [1]:
import pandas as pd

In [2]:
wteams = pd.read_csv("../data/WTeams.csv")

In [3]:
wteams[wteams.TeamName.str.lower().str.contains("colorado")]

     TeamID     TeamName
58     3160     Colorado
59     3161  Colorado St
192    3294   N Colorado